# Dependencies
node_modules/
*/node_modules/
package-lock.json

# Builds
dist/
*/dist/
build/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# System & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing & Cache
coverage/
.cache/